<div>
<h3>add an acro score to the database</h3>

<form id="addScoreForm" ng-submit="addScoreToDatabase()">

<fieldset>
	<div>
		<h4>Enter Meet Information</h4>
	</div>

	<!-- meet name -->
	<label>Meet Name</label>
	<input type="text" ng-model="meetName" placeholder="meet name">
	<label>Year</label>
	<select ng-model="year" ng-options="year for year in yearRange()">
		<option value="" selected>Choose Year</option>
	</select>
	<!-- TODO: add input field for month or specific date -->
</fieldset>

<fieldset>
	<div>
		<h4>Enter Athlete Information</h4>
	</div>

	<!-- group number -->
	<!-- <label>Pair/Group Number</label>
	<input type="text" ng-model="groupNumber" placeholder="pair/group number">

	<br> -->

	<!-- group names  -->
	<label>Pair/Group Names</label>
	<input type="text" ng-model="athlete1" placeholder="athlete #1 name">
	<input type="text" ng-model="athlete2" placeholder="athlete #2 name">
	<input type="text" ng-model="athlete3" placeholder="athlete #3 name">
	<input type="text" ng-model="athlete4" placeholder="athlete #4 name">

	<br>

	<!-- team -->
	<label>Acro Team Name</label>
	<input type="text" ng-model="teamName" placeholder="team name">
</fieldset>

<fieldset>
	<div>
		<h4>Enter Routine and Score Information</h4>
	</div>

	<!-- TODO: add level input field -->
	<!-- TODO: add age group input field -->
	<label>Level</label>
	<select ng-model="level" ng-options="level for level in levelRange()">
		<option value="" selected>Choose Level</option>
	</select>
	<!-- routine type -->
	<label>Routine Type</label>
	<select ng-model="routineType" required>
		<option value="" selected>Choose Routine Type</option>
		<option value="balance">Balance</option>
		<option value="dynamic">Dynamic</option>
		<option value="combined">Combined</option>
	</select>

	<br>

	<!-- execution score -->
	<label>Execution</label>
	<input type="number" step="any" ng-model="executionScore" ng-init="executionScore=0" ng-change = "updateScore()">

	<!-- artistry score -->
	<label>Artistry</label>
	<input type="number" step="any" ng-model="artistryScore" ng-init="artistryScore=0" ng-change = "updateScore()">

	<!-- difficlty score -->
	<label>Difficulty</label>
	<input type="number" step="any" ng-model="difficultyScore" ng-init="difficultyScore=0" ng-change = "updateScore()">

	<!-- penalties (enter a positive number)-->
	<label>Penalties (enter positive number)</label>
	<input type="number" step="any" ng-model="penalties" ng-init="penalties=0" ng-change = "updateScore()">

	<br>

	<!-- total score -->
	<label>Total Routine Score</label>
	<input type="number" step="any" ng-model="totalScore" ng-init="totalScore=0" ng-blur="validateScore()">
</fieldset>

<button type="submit">Add score to the database</button>

</form>

</div>