<!DOCTYPE html>
<html>

<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>acroScoreV2</title>
    <!-- css for angular-chart -->
    <link rel="stylesheet" href="/angular-chart.js/dist/angular-chart.css">
    <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css"></link>
    <link rel="stylesheet" href="styles.css"></link>

</head>

<body ng-app="acroScore" ng-controller="NavController">
    <!-- buttons/future navbar -->

    <!-- navbar -->
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">

                <!-- small screen display -->
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
                    <span class="sr-only">Toggle navigation></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                <!-- brand image -->
                <a class="navbar-brand" ui-sref="home">
                    <img alt="Brand" src="assets/acroscoresLogo.jpg">
                </a>
            </div>

            <!-- navbar content -->
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li ng-repeat="tab in navbarTabs" ng-click="select(tab)" ng-class="{active: isActive(tab)}">
                        <a ui-sref="{{tab.sref}}">{{tab.name}}</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>


    <!-- heading, tagline -->
    <div class="container-fluid">
        <div class="jumbotron">
            <h1>acroScores</h1>
            <p>Your premier destination for tracking Acrobatic Gymnastics meet scores worldwide.</p>
        </div>

        <!-- about -->
        <div>
            <h3>What is acroScores?</h3>
            <p>acroScores is an online database of Acrobatic Gymnastics meet scores from around the world. Friends and family of the Acrobatic Gymnastics community can use acroScores to stay up-to-date on the latest meets and competitors. Coaches can use acroScores to track their athletes' progress over the course of a season. Athletes can use acroScores to track their own progress throughout their career as an acrobat. acroScores is easy enough to use that anyone can add scores to the database. View the selected scores in a list or on a graph that shows trends over time.</p>
        </div>
        <div>
            <h3>How do I use acroScores?</h3>
            <p>If you want to add scores to the acroScores database, have the information handy and head over to the "Add Score" tab at the top of the page. Fill out the necessary information, then submit that score to view it alongside other scores from that meet or from that pair/group.</p>

            <p>If you want to view scores from the acroScores database, head over to the "View Scores" tab at the top of the page. Select either "Athletes" or "Meets" from the dropdown menu, depending on whether you are looking for scores from a specific pair/group or a specific meet. Filter the results in the search box, or scroll through the list to find the desired selection. Click on your selection to view a list or graph of those scores.</p>
        </div>
    </div>


    <!-- where the new views will show up -->
    <div ui-view></div>

    <!-- Angular -->
    <script src="/angular/angular.js"></script>
    <!-- Angular ui router -->
    <script src="/angular-ui-router/release/angular-ui-router.js"></script>
    <!-- jQuery (required by angular and bootstrap) -->
    <script src="/jquery/dist/jquery.min.js"></script>
    <!-- bootstrap -->
    <script src="/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- angular-chart -->
    <script src="/angular-chart.js/node_modules/chart.js/Chart.js"></script>
    <script src="/angular-chart.js/dist/angular-chart.js"></script>
    <!-- javascript source files -->
    <script src="app.js"></script>
    <script src="addScore.js"></script>
    <script src="viewScores.js"></script>
    <script src="factories.js"></script>
</body>

</html>