<!DOCTYPE html>
<html>

<head lang="en">
    <meta charset="UTF-8">
    <title>acroScoreV2</title>
    <!-- css for angular-chart -->
    <link rel="stylesheet" href="/angular-chart.js/dist/angular-chart.css">
    <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css"></link>
    <link rel="stylesheet" href="styles.css"></link>

</head>

<body ng-app="acroScore" ng-controller="NavController">
    <!-- buttons/future navbar -->

    <!-- navbar -->
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">

                <!-- small screen display -->
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
                    <span class="sr-only">Toggle navigation></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                <!-- brand image -->
                <a class="navbar-brand" ui-sref="home">
                    <img alt="Brand" src="assets/acroscoresLogo.jpg">
                </a>
            </div>

            <!-- navbar content -->
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                 <!--
                    <li class="active">
                        <a ui-sref="home">Home
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li ng-model="addScoreTab" ng-click="makeTabActive(addScoreTab)">
                        <a ui-sref="addScore">Add Score</a>
                    </li>
                    <li ng-model="viewScoresTab" ng-click="makeTabActive(viewScoresTab)">
                        <a ng-click="getAthletesAndMeets()" ui-sref="viewScores">View Scores</a>
                    </li> -->
                    <li ng-repeat="tab in navbarTabs" ng-click="select(tab)" ng-class="{active: isActive(tab)}">
                        <a ui-sref="{{tab.sref}}">{{tab.name}}</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>


    <!-- heading, tagline -->
    <div>
        <center>
            <h1>acroScore</h1>
            <h2>online database of acrobatic gymnastics meet scores</h2>
        </center>
    </div>








    <div>
        <ul>
            <button ui-sref="home">home</button>
            <button ui-sref="addScore">add score</button>
            <button ng-click="getAthletesAndMeets()" ui-sref="viewScores" >view scores</button>
        </ul>
    </div>

    <!-- where the new views will show up -->
    <div ui-view></div>

    <!-- Angular -->
    <script src="/angular/angular.js"></script>
    <!-- Angular ui router -->
    <script src="/angular-ui-router/release/angular-ui-router.js"></script>
    <!-- jQuery (required by angular and bootstrap) -->
    <script src="/jquery/dist/jquery.min.js"></script>
    <!-- bootstrap -->
    <script src="/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- angular-chart -->
    <script src="/angular-chart.js/node_modules/chart.js/Chart.js"></script>
    <script src="/angular-chart.js/dist/angular-chart.js"></script>
    <!-- javascript source files -->
    <script src="app.js"></script>
    <script src="addScore.js"></script>
    <script src="viewScores.js"></script>
    <script src="factories.js"></script>
</body>

</html>