html {
	background: url(assets/AdobeStock_79387617.jpeg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	position: relative;
	width: 100%;
	height: 100%;
	margin: 0;
}

/* add transparency for background image */
html::after {
	position: fixed;
	content: "";
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(255, 255, 255, .5);
	z-index: -1;
}

/* brand image sizing */
.acroscoresLogo {
	padding-top: 5px;
}

/* removes extra margin that brand name adds */
.acroscoresName {
	margin-bottom: 0px;
}

.navbar-brand img {
	max-height: 40px;
	border-radius: 3px;
}

/* transparent jumbotron */
body {
	background: transparent;
}

.jumbotron {
	background: rgba(248, 248, 248, .5);
}

/* right-align jumbotron text */
.jumbotron h1, .jumbotron p {
	text-align: center;
}

/* add background to about sections */
.about div div{
	background: rgba(248, 248, 248, .5);
	padding: 10px;
	border-radius: 6px;
}

/* center elements on view scores page */
fieldset h3, .scoreSearch, .addScoreTitle {
	text-align: center;
}

.resultsTable {
	margin: 0 auto;
	margin-top: 10px;
}







